/* General Styles */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

body {
  /* Styles to be applied for a dark theme
    background: #000;
    color: #FFF; */
  background: whitesmoke;
}

ul {
  list-style-type: none;
}

button {
  background: none;
  border: none;
}

button:focus {
  outline: none;
}

button:hover {
  cursor: pointer;
}

input {
  background: none;
  border: 0;
}

input:focus {
  outline: none;
}

/* Layout Styles */
.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 60%;
  margin: 2% auto;
}

.container .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .header h1 {
  font-size: 48px;
}

.container .todos {
  margin: 5% 0;
}

.container .todos .todo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 20px;
  padding: 25px;
  background: #FFF;
  /* border: 1px solid rgb(225, 225, 225); */
  -webkit-box-shadow: 4px 4px 20px rgba(220, 220, 220, 0.55);
          box-shadow: 4px 4px 20px rgba(220, 220, 220, 0.55);
  border-radius: 25px;
  -webkit-transition: 1s;
  transition: 1s;
  opacity: 1;
}

.container .todos .todo.checked {
  opacity: .4;
}

.container .todos .todo.checked .todo__title {
  text-decoration: line-through;
}

.container .todos .todo .buttons {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-item-align: baseline;
      align-self: baseline;
}

.container .todos .todo .buttons i {
  padding: 0 10px;
}

.container .todos .todo:hover {
  -webkit-box-shadow: 4px 4px 20px rgba(200, 200, 200, 0.9);
          box-shadow: 4px 4px 20px rgba(200, 200, 200, 0.9);
  cursor: pointer;
}

.container .todos .todo.fadeout {
  opacity: 0;
}

.container .todos .todo .todo__date--added {
  width: 100%;
  font-size: 12px;
  margin-bottom: 20px;
  color: #969696;
}

.container .todos .todo .todo__title,
.container .todos .todo .edit__todo--input {
  width: 80%;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  font-weight: normal;
  -ms-flex-item-align: baseline;
      align-self: baseline;
}

.container .todos .todo .todo__title,
.container .todos .todo .edit__todo--input {
  font-size: 24px;
  font-weight: normal;
}

.container .todos .todo .edit__todo--input {
  color: #CCC;
}

/* Button Styles */
.btn__add--todo {
  background: #000;
  color: #FFF;
  font-size: 14px;
  padding: 10px 20px;
  border-radius: 50px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.btn__add--todo i {
  margin-right: 8px;
  font-size: 28px;
}

.btn__add--todo span {
  position: relative;
  top: -4px;
}

.btn__close {
  /* color: #00e6ac; */
  font-size: 32px;
}

.btn__close {
  color: #FFF;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.btn__remove--todo,
.btn__edit--todo,
.btn__save--todo {
  font-size: 16px;
  color: #969696;
  -webkit-transition: .25s;
  transition: .25s;
  padding: 0 10px;
  /* justify-content: flex-end; */
}

.btn__remove--todo:hover,
.btn__edit--todo:hover,
.btn__save--todo:hover {
  color: #000;
}

/* Add todo form */
.add__todo__form {
  position: absolute;
  top: -100%;
  left: 0;
  background: rgba(0, 0, 0, 0.9);
  width: 100%;
  -webkit-transition: .5s;
  transition: .5s;
  height: 0;
}

.add__todo__form.active {
  top: 0;
  height: 100vh;
}

.add__todo__form #todo__input {
  border-bottom: 2px solid #666;
  -webkit-transition: .25s;
  transition: .25s;
  color: #FFF;
  padding-bottom: 4px;
  margin-bottom: 40px;
}

.add__todo__form #todo__input:focus {
  border-bottom: 2px solid #FFF;
}

.add__todo__form .add__todo--input {
  border: 1px solid #666;
  -ms-flex-item-align: end;
      align-self: flex-end;
  display: inline-block;
  padding: 10px 0;
  width: 200px;
  color: #666;
}

.add__todo__form .add__todo--input.active {
  background: #FFF;
  border: 1px solid #666;
  color: #666;
}
/*# sourceMappingURL=main.css.map */